{% extends "base.html" %}

{% load staticfiles %}
{% block container %}
<div class="container">
  <h2 style="padding-top:50px; padding-left:375px">Available Pooled Cars : </h2>
  <div class="search-list">
    <div class="list-group">
      {% for item in car %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">{{item.name}}</h4>
          <h5 class="list-group-item-text">Time: {{ item.srct|date:"g:i a" }} </h5>
          <h5 class="list-group-item-text">Seats Available: {{item.seats}} </h5>
          <h5 class="list-group-item-text">Reaches {{item.dst}} at {{item.dstt|date:"g:i a"}} </h5>
          <h5 class="list-group-item-text">Contact: {{item.contact}} </h5>
        </div>
      {% empty %}
        <h2 style="padding-top:50px; padding-left:375px">Sorry! No cars matching query found!</h2>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock container %}
