{% extends "base.html" %}

{% load staticfiles %}

{% block container %}
<div class="container">

  <h2 style="padding-top:50px; padding-left:375px">Search for Cars Nearby!</h2>
  <div class="search-form">
    <form action='/searchcar/' method='POST'> {% csrf_token %}
      <div class="row">
        <div class="form-group col-xs-4">
            <label for="source">Source</label>
            <input type="text" class="form-control" name="source" id="source" placeholder="Source">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-4">
            <label for="destination">Destination</label>
            <input type="text" class="form-control" name="destination" id="destination" placeholder="Destination">
        </div>
      </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

</div>
{% endblock container %}
